* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.calculator {
  width: 300px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.result {
  background-color: #444;
  color: white;
  font-size: 2em;
  text-align: right;
  padding: 20px;
}
.layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}
.layout div {
  background-color: #333;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}
.layout .top {
  background-color: #555;
}
.layout .op {
  background-color: #ff9500;
}
.layout .zero {
  grid-column: span 2;
}
